.icon {
    background-image: url("assets/icon.png"); /* UI icons by Flaticon: https://www.flaticon.com/uicons */
    mask-image: url("assets/icon.png");
    background-size: 15px;
    width: 15px;
    height: 15px;
    padding: 17px;
}

.chat-scrolling {
    max-height: 1000px;
    max-width: 400px;
    width: 350px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.messageInput {
    width: 357px;
    height: 20px !important;
    border-radius: 100px;
    max-width: 400px;
    margin-left: 15px;
    max-height:400px;
    overflow: hidden;
}

.humanMessage {
    text-wrap:wrap;
    text-align: left;
    text-size-adjust: 12;
    font-weight: bolder;
    margin-top: 5px;
    font-size: medium;
    border: 10px;
    border-radius: 13px;
}
.humanMessage-box {
    margin-left: 40px;
    margin-top: 5px;
}

.llmMessage {
    text-wrap:wrap;
    text-align: left;
    text-size-adjust: 12;
    font-weight: bolder;
    font-size: medium;
    margin-top: 5px;
    border: 10px;
    border-radius: 13px;    
}

.llmMessage-box {
    margin-right: 40px;
    margin-top: 5px; 
}

.settings {
    text-wrap:wrap;
    text-align: left;
    margin-right: 40px;
    text-size-adjust: 12;
    font-weight: bolder;
    margin-top: 5px;
    font-size: medium;
    border: 10px;
    border-radius: 13px;  
}